body {
  background-color: #f9e0bb;
  margin: 0px;
  color: #2e1d19;
}
body a {
  color: #4d2d25;
  text-decoration: none;
  font-weight: bold;
}
#contenu {
  margin: 8px;
  position: relative;
}
#headerSite {
  background-color: #2e1d19;
  left: 0px;
  color: rgb(236, 203, 159);
  padding-left: 8px;
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#titreSite {
  border-right: solid 2px rgb(177, 137, 84);
  padding-right: 10px;
}
#headerSite * {
  margin: 4px;
  margin-right: 4px;
}
#headerSite a {
  color: #f9e0bb;
  text-decoration: none;
  font-weight: bold;
}
#headerSite a:active {
  color: #f0c38a;
  text-decoration: none;
  font-weight: bold;
}

#linkAjouterAntique {
  background-color: #573831;

  padding: 6px 10px;
  border-radius: 4px;
  font-size: 20px;
  color: #f9e0bb;
}

.antique {
  background-color: #edc58a;
  border-radius: 10px;
  padding: 1px 14px;
  margin: 6px;
}
.antique-header * {
  margin: 8px;
}

.antique-prix {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  margin: 8px;
  margin-top: 0px;
}
.container-antiques {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
